header {
    background-color: #2c5f2d;
    color : #97bc62;
    text-align : center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    line-height: 1.9em;
    margin: 70px;
    padding: 20px;
    border: solid,20px,rgb(5, 65, 5);
    border-style:double;
}

h3 {
    color: #065706;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    border: solid,20px,rgb(5, 65, 5);
    border-style:double;
    padding:20px;
    margin: 70px;
    text-align : center;
    clear: left;
    background-color: #242524;
    background-image: url(images/images_1.jpg);
}


img{
   float: left;
   margin: 70px;
   border: inset,20px,rgb(5, 65, 5);
}

body{
    background-color: #0e0f0e;
    color: #559102;
    background-image: url(images/img7.jpg);
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    margin: 70px;
    padding: 20px;
}

ul {
    color: #2c5f2d;
    font-size: 1.5em;
    font-weight: bold;
    list-style-image: none;
    padding-left:120px;
}

#videoGames {
    color: #2c5f2d;
    font-weight: bold;
}

main {
    color: #97bc62;
    padding: 50px;
}

footer {
    color: #033803;
}

a:link{
    color: aliceblue;
}

a:visited {
    color: aqua;
}

a:hover {
    color: lawngreen;
}

a:active {
    color: rgb(255, 0, 0);
}
nav
{
    background-color: #2c5f2d;
    border: solid,5px,rgb(5, 65, 5);
    border-style:solid;
    padding-left: 30px;
    margin: 40px;
}
nav li
{
    display: inline;
    padding-left: 70px;
    line-height: 1em;
    list-style-type: none;
}
nav a:link
{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav a:visited
{
    color: white;
}
nav a:hover
{
    color: aqua;
    text-decoration: underline;
}
nav a:active
{
    color: darkblue;
}
table{
    border: solid 2px #065706;
    border-collapse: collapse;
    width: 250px;
    text-align: center;
    margin: auto;
}

tr, td, th {
    border: solid 2px #065706;
    padding: 5px;
    width: 50px;
    background-color: #0e1801;
}
caption{
    caption-side: top;
    font-weight: bold;
    margin: 5px;
}
iframe{
    width: 800px;
    height: 650px;
    border: 0px;
}

#family {
    
}

#Daily {
    
}