header {
    background-color: crimson;
    color : black;
    text-align : center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    line-height: 1.9em;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    
}

body{
    background-color: rgb(0, 0, 0);
    color: crimson;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
}
ul {
    color: crimson;
    font-size: 1.5em;
    font-weight: bold;
}

#videoGames {
    color: rgb(104, 29, 29);
    font-weight: bold;
}

main {
    color: rgb(211, 20, 20);
}

footer {
    color: rgb(238, 128, 128);
}